@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/Gotham Pro/gothampro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/Gotham Pro/gothampro_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/Gotham Pro/gothampro_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/Gotham Pro/gothampro_bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  body {
    font-family: 'Gotham Pro', sans-serif;
  }
  