@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    max-width: 1700px;
    margin: 0 auto;
    /* background: red; */
    /* height: 20px; */
}

body {
    background-color: #ECF3FB;
}